.genderbarchart{
    padding-left: 57px;
    padding-top: 20px;
}

  .gender{
    margin: 0px;
    height: 18px;
    width: 83px;
    color: #111;
    font-family: "Google Sans";
    font-size: 14px;
    /* font-weight: 500; */
    line-height: 18px;
  }

  .genderbar{
    height: 168px;
    width: 161px;
  }